# my favorite clang-format
BasedOnStyle: Google
IndentWidth: 8
AccessModifierOffset: -3
ColumnLimit: 100
UseTab: Never
Cpp11BracedListStyle: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakConstructorInitializers: BeforeColon
AllowAllConstructorInitializersOnNextLine: false
# cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
# ln -sF build/compile_commands.json .
